.toy-details {
    width: 80vw;
    height: 80vh;
    position: fixed;
    inset: 0;
    margin: auto;
    background-color: #f4f5f7;
    border: 0.5px solid #c7c8ca;
    border-radius: 0.5em;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 1;

    button {
        font-family: inherit;
        background-color: #fff;
        width: 7em;
        padding-bottom: .5em;
        ;

        &:hover {
            background-color: rgba(0, 0, 0, 0.186);
        }
    }

    .review-app {
        background-color: #fff;
        .review-list {
            list-style: none;

            li {

                display: flex;
            }
        }
    }

    .chat {
        background-color: #fff;
        padding: 10px;
        border-radius: .5em;

        button {
            background-color: #0075e3;
            color: white;
        }

        input {
            width: 85%;
        }
    }
}