:root {
    --clr1: #0075e3;
    /* hover btn */
    --clr2: #0075e377;
  
    --list-bg: #f3947e58;
    --clr1bg-light: #c1f1e1;
    --btn-bg: #f4f1f1ed;
    --clr2bg-light: #e9d8a6;
  
    --gray1: rgb(240, 240, 240);
    --gray2: rgb(155, 155, 155);
    --gray3: rgb(44, 44, 44);
  
  } 